<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let p of people"> 
    <ion-card-header>
      <ion-card-subtitle>{{ p?.name }}</ion-card-subtitle>
      <ion-card-title>{{ p?.job }}</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
      <br>
      Current Power: {{p?.power}}
    </ion-card-content>
  </ion-card>
  
</ion-content>
